.container {
  width: 900px;
  border: solid 1px #eeeeee;
  margin: 20px auto;
  padding: 20px;
  min-height: 500px;
}

.square {
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  background-color: #16a085;
}
